@model IEnumerable<BiblioTech_v2.Models.Emprestimo>

@{
    ViewData["Title"] = "Listagem de Emprestimos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="margin-top: 120px;">
    <h1>Gerador de Emprestimos</h1>
    <br />
    <div class="form-group">
        <a asp-controller="Emprestimo" asp-action="Index"><input type="submit" value="Voltar" class="btn btn-primary bg-danger border-0" /></a>
    </div>

    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLivro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRetirada)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLivro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRetirada)
                    </td>
                </tr>
            }
            </tbody>
    </table>
</section>