@model IEnumerable<BiblioTech_v2.Models.Livro>

@{
    ViewData["Title"] = "Listagem de Livros";
}
<section style="margin-top: 120px;">
    <h1>Listagem de Livros</h1>
    <br />
    <div class="form-group">
        <a asp-action="Create"><input type="submit" value="Cadastrar Livro" class="btn btn-primary bg-success border-0" /></a>
    </div>

    <form asp-action="Index" method="get" class="row g-3">
        <div class="form-actions no-color row g-3">
            <div class="col-md-2">
                <label for="tipo">Filtrar</label>
                <select class="form-select" name="tipo" id="tipo">
                    <option value="todos" selected></option>
                    <option value="titulo">Titulo</option>
                    <option value="genero">Genero</option>
                    <option value="autor">Autor</option>
                </select>
            </div>
            <div class="col-md-5">
                <label>Buscar</label>
                <div class="input-group">
                    <input type="text" name="busca" value="" class="form-control" placeholder="Livro...">
                    <div class="input-group-append" style="margin-left: 1rem" id="button-addon4">
                        <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdGenero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sinopse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdGenero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sinopse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><input type="submit" value="Editar" class="btn btn-primary bg-warning text-white border-0" /></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Detalhar" class="btn btn-primary border-0" /></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Excluir" class="btn btn-primary bg-danger border-0" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>