@model IEnumerable<BiblioTech_v2.Models.Usuario>

@{
    ViewData["Title"] = "Listagem de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="margin-top: 120px;">
    <h1>Listagem de Usuários</h1>
    <br />
    <div class="form-group">
        <a asp-action="Create"><input type="submit" value="Cadastrar Usuário" class="btn btn-primary bg-success border-0" /></a>
        <a asp-controller="Dados" asp-action="Usuarios"><input type="submit" value="Gerar Dados" class="btn btn-primary border-0" /></a>
    </div>

    <form asp-action="Index" method="get" class="row g-3">
        <div class="form-actions no-color row g-3">
            <div class="col-md-2">
                <label for="tipo">Filtrar</label>
                <select class="form-select" name="tipo" id="tipo">
                    <option value="todos" selected></option>
                    <option value="nome">Nome</option>
                    <option value="ra">RA</option>
                </select>
            </div>
            <div class="col-md-5 m-l">
                <label>Buscar</label>
                <div class="input-group">
                    <input type="text" name="busca" value="" class="form-control" placeholder="Usuario...">
                    <div class="input-group-append" style="margin-left: 1rem" id="button-addon4">
                        <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RA)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RA)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><input type="submit" value="Editar" class="btn btn-primary bg-warning text-white border-0" /></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Detalhar" class="btn btn-primary border-0" /></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Excluir" class="btn btn-primary bg-danger border-0" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>