@model BiblioTech_v2.Models.Emprestimo

@{
    ViewData["Title"] = "Finalizar Empréstimo";
}
<section style="margin-top: 120px;">
    <h1>Finalizar</h1>
    <br />
    <h4>Você tem certeza que deseja Finalizar esse Empréstimo?</h4>
    <br />
    <div>
        <h4>Emprestimo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdUsuario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdUsuario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdLivro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdLivro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataRetirada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataRetirada)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <a asp-action="Index"><input value="Voltar" class="btn btn-primary text-white border-0 " style="width: 6rem" /></a>
        </form>
    </div>
</section>