@model BiblioTech_v2.Models.Emprestimo

@{
    ViewData["Title"] = "Detalhes do Empréstimo";
}
<section style="margin-top: 120px;">
    <h1>Detalhes</h1>

    <div>
        <h4>Emprestimo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdUsuario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdUsuario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdLivro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdLivro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataRetirada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataRetirada)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="submit" value="Editar" class="btn btn-primary text-white border-0" style="width: 6rem" /></a> |
        <a asp-action="Index"><input value="Voltar" class="btn btn-primary bg-danger text-white  border-0 " style="width: 6rem" /></a>
    </div>
</section>