@model IEnumerable<BiblioTech_v2.Models.Emprestimo>

@{
    ViewData["Title"] = "Listagem de Empréstimos";
}
<section style="margin-top: 120px;">
    <h1>Listagem de Empréstimos</h1>
    <br />
    <div class="form-group">
        <a asp-action="Create"><input type="submit" value="Novo Empréstimo" class="btn btn-primary bg-success border-0" /></a>
        <a asp-controller="Dados" asp-action="Emprestimos"><input type="submit" value="Gerar Dados" class="btn btn-primary border-0" /></a>
    </div>

    <form asp-action="Index" method="get" class="row g-3">
        <div class="form-actions no-color row g-3">
            <div class="col-md-2">
                <label for="tipo">Filtrar</label>
                <select class="form-select" name="tipo" id="tipo">
                    <option value="todos" selected> </option>
                    <option value="codUsuario">Codigo do usuario</option>
                    <option value="usuario">Usuario</option>
                    <option value="codLivro">Codigo do livro</option>
                    <option value="titulo">Titulo do Livro</option>
                </select>
            </div>
            <br />
            <div class="col-md-5">
                <label>Buscar</label>
                <div class="input-group">
                    <input type="text" name="busca" value="" class="form-control" placeholder="Emprestimo...">
                    <div class="input-group-append" style="margin-left: 1rem" id="button-addon4">
                        <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br />
    <span>Total de Livros Emprestados: @Model.Count()</span>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdLivro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRetirada)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLivro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRetirada)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><input type="submit" value="Editar" class="btn btn-primary bg-warning text-white border-0" /></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Detalhar" class="btn btn-primary border-0" /></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Finalizar" class="btn btn-primary bg-danger border-0" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
